<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gestiondesetudiants</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Principale</display-name>
    <servlet-name>Principale</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale</servlet-name>
    <url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajout</display-name>
    <servlet-name>Ajout</servlet-name>
    <servlet-class>tn.essat.controller.Ajout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajout</servlet-name>
    <url-pattern>/Ajout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>tn.essat.controller.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>tn.essat.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addnew</display-name>
    <servlet-name>Addnew</servlet-name>
    <servlet-class>tn.essat.controller.Addnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addnew</servlet-name>
    <url-pattern>/Addnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addverif</display-name>
    <servlet-name>Addverif</servlet-name>
    <servlet-class>tn.essat.controller.Addverif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addverif</servlet-name>
    <url-pattern>/Addverif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homeadd</display-name>
    <servlet-name>Homeadd</servlet-name>
    <servlet-class>tn.essat.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homeadd</servlet-name>
    <url-pattern>/Homeadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>tn.essat.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>tn.essat.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modif</display-name>
    <servlet-name>Modif</servlet-name>
    <servlet-class>tn.essat.controller.Modif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modif</servlet-name>
    <url-pattern>/Modif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modiff</display-name>
    <servlet-name>Modiff</servlet-name>
    <servlet-class>tn.essat.controller.Modiff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modiff</servlet-name>
    <url-pattern>/Modiff</url-pattern>
  </servlet-mapping>
</web-app>